<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAg2EcUho5xXmjU8NISnxNvYXvKtIzEZBM</string>
	<key>GCM_SENDER_ID</key>
	<string>1046004927760</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LoginApp.LoginApp</string>
	<key>PROJECT_ID</key>
	<string>loginapp-2d801</string>
	<key>STORAGE_BUCKET</key>
	<string>loginapp-2d801.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046004927760:ios:3adfe202de72edd537a995</string>
</dict>
</plist>